*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build/
gradle.properties
gradlew
gradlew.bat
/.gradle/
/.idea/
/gradle/
local.properties